body{
    margin: 0;
    font-family: calibri;
}
*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: deepskyblue;
}
header div.left{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 2;
}
header div.left .content-center{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
header div.right{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 50px;
}
header nav{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    animation: movenav 0.6s 1.4s ease-out both;
}
header nav h3{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}
.clearfix{
    clear: both;
}
.heading-holder{
    display: inline-block;
    vertical-align: middle;
}
#slide-heading{
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4.5em;
    text-align: center;
    font-weight: 400;
    padding: 0 5px;
    border-right-width: 2px;
    border-right-style: solid;
    animation: blinkCaret 0.7s step-end infinite;
}

@keyframes blinkCaret{
    from, to{
        border-color: transparent;
    }
    50%{
        border-color: #333;
    }
}

header h1{
    margin: 0;
    font-size: 3em;
    font-weight: 400;
}
header h4{
    font-weight: 400;
    font-size: 1.7em;
}
header div.right .card{
    height: auto;
    width: 40%;
    float: left;
    margin: 20px 5%;
    overflow: hidden;
    transform: rotate(-20deg);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    position: relative;
    animation: bringcards 0.6s 0.7s ease-out both;
}
header .right .card img{
    vertical-align: middle;
    height: auto;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    animation: none;
}
header div.right .card:nth-of-type(3){
    animation: bringcardstwo 0.6s 0.9s ease-out both;
}
header div.right .card:nth-of-type(4){
    animation: bringcardstwo 0.6s 1s ease-out both;
}
header div.right .card:nth-of-type(5){
    animation: bringcardsthree 0.6s 1.1s ease-out both;
}
header div.right .card:nth-of-type(6){
    animation: bringcardsthree 0.6s 1.2s ease-out both;
}
header button{
    background-color: transparent;
    vertical-align: middle;
    border: none;
    font-size: 40px;
    padding: 4px 20px;
    transition: all 0.2s ease-in-out;
    outline: none;
}
header button:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    cursor: pointer;
}
header button:focus{
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
}
div.slant{
    background-color: white;
    width: 100%;
    height: 200%;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(-20deg) translateY(-50%);
    animation: bringslant 0.7s 1.4s cubic-bezier(0.96, 0.56, 0.13, 0.7) both;
}

section{
}
section h2{
    font-weight: 400;
    font-size: 3.2em;
    text-align: center;
    margin: 15px 0;
}
section div.select{
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    display: inline-block;
    height: auto;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    margin: 30px 0 30px 20px;
    overflow: hidden;
    font-size: 18px;
}

section .hidden-content{
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s ease-out;
    overflow: hidden;
}
section .hidden-content li{
    padding: 10px 40px;
    transition: background 0.2s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
}
section .hidden-content li:hover{
    background-color: rgba(0,0,0,0.1);
}
section .select .heading{
    padding: 10px 30px;
}
section .select .heading span{
    display: inline-block;
    transition: 0.3s ease-in-out;
    animation: none;
}

section .cards-holder{
    margin: 0 40px;
}
.cards-holder .card{
    height: auto;
    width: 30%;
    background-color: mediumorchid;
    float: left;
    margin: 20px 1.5%;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}  

.cards-holder .card:hover{
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}

.apps-holder{
    background-color: white;
    width: 95%;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
    overflow: auto;
}

.apps-holder .card{
    display: inline-block;
    margin: 0 5px;
    box-shadow: none;
    padding: 8px;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
    cursor: pointer;
}

.apps-holder .card h4{
    margin: 2px 0;
    margin-left: 10px;
    font-size: 1.1em;
}

.apps-holder .card small{
    margin: 2px 0;
    margin-left: 14px;
    font-size: 0.9em;
}

.apps-holder .card img{
    height: 150px;
}

.apps-holder .card:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.05);
}



.designs-holder{
    padding: 0 2%;
    text-align: center;
}

.designs-holder .card
{
    height: 200px;
    width: 18%;
    object-fit: contain;
    float: left;
    margin: 20px 1%;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.designs-holder .card:hover
{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 1px rgba(0,0,0,0.3);
}

@keyframes out{
    0%{
        transform: rotateX(0deg) scale(1.2);
    }
    50%{
        transform: rotateX(30deg) scale(1.1);
    }
    100%{
        transform: rotateX(0deg) scale(1);
    }
}

@keyframes website{
    0%{
        transform: rotateX(0deg) scale(1);
    }
    50%{
        transform: rotateX(30deg) scale(1.1);
    }
    100%{
        transform: rotateX(0deg) scale(1.2);
    }
}

header.animate div.left div.content-center{
    animation: fadein 0.7s 1.2s cubic-bezier(0, 0, 0.15, 0.99) both;
}

.animate{
    animation: bring 0.8s cubic-bezier(0.96, 0.56, 0.13, 0.7) both;
}
@keyframes bring{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
@keyframes bringslant{
    from{
        left: -140%;
    }
    to{
        left: -50%;
    }
}

@keyframes bringcards{
    from{
        opacity: 0;
        transform: translateX(-100%) rotate(-20deg);
    }
    to{
        opacity: 1;
        transform: translateX(0%) rotate(-20deg);
    }
}
@keyframes bringcardstwo{
    from{
        opacity: 0;
        transform: translateX(-100%) rotate(-20deg);
    }
    to{
        opacity: 1;
        transform: translateX(25%) rotate(-20deg);
    }
}
@keyframes bringcardsthree{
    from{
        opacity: 0;
        transform: translateX(-100%) rotate(-20deg);
    }
    to{
        opacity: 1;
        transform: translateX(50%) rotate(-20deg);
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(-20%);
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateY(-50%);
    }
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translate(-20%, 20%);
    }
    to{
        opacity: 1;
        transform: translate(0%, 0%);
    }
}
@keyframes movenav{
    from{
        transform: translateY(-110%);
    }
    to{
        transform: translateY(0%);
    }
}

@media screen and (max-width: 768px){
    header div.left{
        width: 100%;
    }
    header div.right{
        display: none;
    }
    header h1{
    font-size: 3em;
    }
    header h4{
        font-size: 1.3em;
    }
    #slide-heading{
        font-size: 2.5em;
    }
    header button{
        font-size: 30px;
        padding: 2px 14px;
    }
    section h2{
        font-size: 2.5em;
    }
    section .cards-holder{
        margin: 0 20px;
    }
    .cards-holder .card{
        width: 95%;
    }
    .apps-holder .card img{
        height: 120px;
    }
    .designs-holder .card{
        height: 200px;
        width: 46%;
        object-fit: contain;
        float: left;
        margin: 10px 2%;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
        transition: all 0.2s ease-in-out;
        position: relative;
        border-radius: 5px;
        cursor: pointer;
    }
}